@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
  --brand-purple: #a855f7; /* purple-500 */
  --brand-purple-dark: #581c87; /* purple-900 */
  --brand-neon: #d946ef; /* fuchsia-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-purple: var(--brand-purple);
  --color-brand-purple-dark: var(--brand-purple-dark);
  --color-brand-neon: var(--brand-neon);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply antialiased;
}
